---
import Layout from '../layouts/Layout.astro';
import CardNotification from '../components/vue/CardNotification.vue';
---

<Layout title="Welcome to Astro.">
	<div class="h-screen bg-stone-500 flex justify-center items-center">
	<CardNotification client:load/>	
</div>
	
</Layout>


